@page
@model Admin.Users.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="untree_co-section product-section before-footer-section">
    <div class="container">
        <div class="row">
            <h1>@(Model.User.IsDeleted ? "Unban" : "Ban") this user?</h1>
            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-3">Full Name</dt>
                    <dd class="col-sm-9">@Model.User.Fullname</dd>
                    <dt class="col-sm-3">Email</dt>
                    <dd class="col-sm-9">@Model.User.Email</dd>
                    <dt class="col-sm-3">Phone</dt>
                    <dd class="col-sm-9">@Model.User.Phone</dd>
                    <dt class="col-sm-3">Address</dt>
                    <dd class="col-sm-9">@Model.User.Address</dd>
                    <dt class="col-sm-3">Role</dt>
                    <dd class="col-sm-9">@Model.User.Role</dd>
                    <dt class="col-sm-3">Driving License No.</dt>
                    <dd class="col-sm-9">@Model.User.DrivingLicense?.DrivingLicenseNumber</dd>
                </dl>

                <form method="post">
                    <input type="hidden" asp-for="User.Id" />
                    <input type="submit" value=@(Model.User.IsDeleted ? "Unban" : "Ban") class="btn btn-danger" />
                    <a asp-page="./Index">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>