@page
@model Admin.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="untree_co-section product-section before-footer-section">
    <div class="container">
        <div class="row">
            <h1 class="mb-5">User List</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Driving License No.</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Users)
                    {
                        <tr>
                            <td>@item.Fullname</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td>@item.Address</td>
                            <td>@item.Role</td>
                            <td>@(item.IsDeleted ? "Banned" : "Active")</td>
                            <td>@item.DrivingLicense?.DrivingLicenseNumber</td>
                            <td>
                                <a asp-page="Delete" asp-route-id="@item.Id" style="text-decoration: none; color: red">@(item.IsDeleted ? "Unban" : "Ban")</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


