@page
@model CarOwners.Cars.DetailsModel

@{
    ViewData["Title"] = "Car Details";
}

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">@Model.Car.CarModel <a></a></h2>
                <p>Status: @Model.Car.Status.ToString()</p>

                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <h5>Car Type: @Model.Car.CarType?.TypeName</h5>
                        <h5>Plate Number: @Model.Car.PlateNumber</h5>
                        <h5>Rent Price: @Model.Car.PricePerDay₫ / day</h5>
                        @if (Model.Car.IsElectric)
                        {
                            <h5><i class="fa-solid fa-bolt"></i> Electric Car</h5>
                        }
                    </div>
                    <div class="col-6 col-md-6">
                        <h5>Car Brand: @Model.Car.CarBrand?.BrandName</h5>
                        <h5>Register Number: @Model.Car.CarRegisterNumber</h5>
                        <h5>Deposit Ratio: @Model.Car.DepositRatio%</h5>
                        @if (!Model.Car.IsMortgageRequired)
                        {
                            <h5>No Mortgage Required</h5>
                        }
                    </div>
                </div>

                <a class="btn btn-primary" asp-page="Edit" asp-route-id="@Model.Car.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                <a class="btn btn-danger" asp-page="Index"><i class="fa-solid fa-arrow-left"></i> Back to list</a>

            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="data:image;base64,@Model.Car.ImageBase64" alt="Image" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</div>
