@page
@model Contracts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Renting History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contract[0].RentStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract[0].RentEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract[0].SignDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract[0].Car)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contract)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RentStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SignDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.CarModel)
                </td>
                <td>
                    <a asp-page="./Cancel" asp-route-id="@item.Id">Cancel</a>
                </td>
            </tr>
        }
    </tbody>
</table>