@page
@using BusinessObjects.Enums;
@model CarOwners.Contracts.RentedListModel

@{
    ViewData["Title"] = "Rented Cars History";
}

<div class="untree_co-section before-footer-section">
    <div class="container">
        <div class="row mb-5">
            <form class="col-md-12" method="post">
                <div class="site-blocks-table">
                    <table class="table" style="table-layout: fixed">
                        <thead>
                            <tr>
                                <th>Car</th>
                                <th>Customer</th>
                                <th>Rent Start</th>
                                <th>Rent End</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.RentedList)
                            {
                                <tr>
                                    <td>
                                        <img style="width: 100%" src="data:image;base64,@item.Car.ImageBase64" alt="Image">
                                        @item.Car.CarModel
                                    </td>
                                    <td>
                                        <h5 class="text-black">@item.Customer.Fullname</h5>
                                    </td>
                                    <td>@item.RentStartDate</td>
                                    <td>@item.RentEndDate</td>
                                    <td>@item.ContractStatus</td>
                                    <td>
                                        @if (item.ContractStatus == ContractStatus.Received)
                                        {
                                            <a class="btn btn-primary d-block mb-1" asp-page="ReturnChecklist" asp-route-id="@item.Id">Car Returned</a>
                                        }
                                        @if (item.ContractStatus != ContractStatus.Returned)
                                        {
                                            <a class="btn btn-danger d-block mb-1" asp-page="OwnerCancel" asp-route-id="@item.Id">Cancel Rent</a>
                                        }
                                        
                                        <a class="btn btn-primary d-block mb-1" asp-page="RentDetail" asp-route-contractId="@item.Id">Detail</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
